
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body{
    background-color: black;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

:root{
    --bg-color:#080808;
    --second-bg-color:#131313;
    --text-color:white;
    --main-color:#dde40d;
    --box-shadow-color: rgba(32, 225, 213, 0.3);
    --border-radius: 12px;
  }